.App {
  text-align: center;
}

.Main {
  background-color: #081b41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card:hover{
  opacity: 1;
}


.Card {
  margin-top: 10%;

}

button:hover {
  opacity: 1;
  color: blueviolet;
}


